# URL IMAGES
URL_IMAGES=http://localhost:3333/images

# DATABASE VARIABLES
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=find-a-friend
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# PRISMA CONNECTION
DATABASE_URL=postgres://docker:docker@localhost:5432/find-a-friend?schema=public

# CONFIG SERVER
NODE_ENV=dev
PORT=3333
HOST=

# JWT
JWT_SECRET=
